.mainContent {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html, body, #root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.clickSurface {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-position: center;
  transition: background-color 0.3s;
  background: var(--bs-primary) radial-gradient(circle, transparent 1%, var(--bs-primary) 1%) center / 10000000px;
  color: var(--bs-white);
  border-radius: 10px;
  box-shadow: 0 0 4px var(--bs-gray-600);
}
.touching {
  background-color: white !important;
  background-size: 0%;
  transition: background-color 0s;
}
.counter {
  pointer-events: none;
}
.saveBtn {
  position: absolute;
  right: 21px;
  border-radius: 10px;
  padding: 0px 5px;
  margin-top: 9px;
}
.goalInfo {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  pointer-events: none;
}